.script-bf-box {
    width: 300px;
    height: 400px;
    background: #324d67;
    margin: 15px;
    will-change: transform;
    display: flex;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
  }
  
  .script-bf-box:hover {
    background: linear-gradient(135deg, #d299c2 0%, #fef9d7 100%);
    color: #324d67;
  }
  .eduQulification{
    height: 100%;
  }

  .education{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      inline-size: fit-content;      
  }
  .eduLable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    inline-size: fit-content; 
    font-size: 1.75rem;
    height: auto;
    color: white;    
  }
  .eduLable > label{
      display: inline-flex;
      inline-size: fit-content;
      background: #324d67;
      border-radius: 5px;
      padding: 4px 8px;
      box-shadow: 5px 5px 5px gray;
  }
  .eduLable > label:hover{
      background: linear-gradient(135deg, #d299c2 0%, #fef9d7 100%);
      color: #324d67;
  }
  .exp{
      margin-left: 195px;
      margin-right: 185px;
  }
  .center{
    font-size: 1.5rem;
    color: hotpink;    
  }
  .description{
    font-size: 1.25rem;
  }
  .eduExpName{
    color: White;
    font-size: 1.75rem;
    text-align: center !important;
    border-bottom: 2px solid white;
  }


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .eduLable{
    font-size: 1.5rem;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    max-width: 80% !important;
  }
  .eduQulification{
    margin: auto;
    max-width: min-content;
  }
  .education{
    display: grid;
  }
  .script-bf-box{
    margin: 20px 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .eduLable{
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .education{
    display: flex;
    max-width: 600px;
  }
  .script-bf-box{
    margin: 20px 10px;
    height: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  .education{
    display: flex;
    max-width: 100%;
  }
  .script-bf-box{
    margin: 15px;
    height: 400px;
  }
}