html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
} */

.theo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  padding-bottom: 45px;
  width: 100%;
  max-height: fit-content;
  margin: 0;
  background-color: #f0f0f0;
}

.theo >lable .aboutme{
  text-align: justify;
}

.card {
  width: 45ch;
  height: 45ch;
  margin: 15px;
  background: grey;
  border-radius: 5px;
  background-image: url(../../images/IMG_8108.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}


/* small devices */
@media only screen and (max-width: 600px) {
  .aboutMe{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
  } 
  .theo{
  display: block;
  padding-bottom: 40px;
  border-bottom: 5px solid var(--clr-primary-5);
  }
  .card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .contact{
    margin: auto;
    width: 100%;
  }  
  .card{
    width: 30ch;
    height: 30ch;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .theo{
    display: block;
    border-bottom: 5px solid var(--clr-primary-5);
    padding-bottom: 0px;
    }
    .card{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
    .contact{
      margin: auto;
      width: 80%;
    }   
     
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
 .theo{
    display: flex;
    border-bottom: none;
    padding-bottom: 45px;
    }    
    .contact{
      margin: auto;
      margin-left: 50px;
    } 
.card{
  width: 45ch;
  height: 45ch;
}
.picard{
  margin-left: 20px;
}
.contactIcon{
  font-size: 1.8rem;  
}

.contactInfomation{
  margin-left: auto;
}
}

