 * {
    box-sizing: border-box;
  }
 /* 
  html,
  body, */
  .skills {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
  }
  
  .skills {
    overflow: auto;
    padding: 25px;
    display: flex;
    justify-content: center;
    background: #f0f0f0;
  }

  .skillset{
    display: flex;
    width: auto;
  }
  
  .list {
    display: contents;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
      segoe ui, arial, sans-serif;
    width: 80ch !important;
    height: 100%;
    overflow: hidden;
  }
  
  .cardList {
    position: absolute;
    will-change: transform, height, opacity;
    width: 20%;
    float: left;
  }
  
  .cell {
    /* position: relative; */
    display: inline-flex;
    background-size: cover;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 90%;
    /* overflow: hidden; */
    font-size: 10px;
    line-height: 10px;
    padding: 10px;
  }
  
  .details {
    /* position: relative; */
    float: left;
    color: rgb(100, 98, 98);    
    text-align: center;
    vertical-align: middle;
    line-height: 250%;
    font-size: large;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.2);
  }

  .skillLable{
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex !important;
    font-size: 1.75rem !important;
    color: var(--clr-grey-3) !important;
  }

  .MuiTypography-body1 {
    font-size: 1.5rem !important;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  }

  @media only screen and (max-width: 600px) {
  .cardList{
      width:36%;
      font-size: 0.3rem;
      margin: 2px;
    }
  }